    <form action="/<%= params[:filename] %>" method="post">
      <dl>
        <dt><label for="content">Edit content of changes.txt:</label></dt>
        <dd>
          <textarea name="content" id="content" cols="100" rows="20"><%= @content %></textarea>
        </dd>
      </dl>
      <input type="submit" value="Save Changes">
    </form>
