    <ul>
    <% @files.each do |file| %>
      <li>
        <form action="<%= "/#{file}/delete" %>" method="post">
          <a href="<%= "/#{file}" %>"><%= file %></a>
          <a href="<%= "/#{file}/edit" %>">Edit</a>
          <input type="submit" value="delete">
        </form>
      </li>
    <% end %>
    </ul>
    <p>
      <a href='/new'>New Document</a>
    </p>
