<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Index</title>
    <meta charset="utf-8">
    <style>
      body {
        padding: 1em;
        font-family: arial, helvetica, sans-serif;
      }

      .message {
        padding: 10px;
        background-color: yellow;
      }

      .user-status {
        font-style: italic;
        font-size: 0.9em;
      }
    </style>
  </head>
  <body>
  <% if session[:message] %>
    <p class="message"><%= session.delete :message %></p>
  <% end %>

<%= yield %>

  </body>
</html>
